<a href="https://colab.research.google.com/github/fsrichard/WHONDRS_/blob/main/merge_metdom_whondrs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# WHONDRS - data merging
# sediment

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Sediment_Prevalence_10__commat_2021-09-29.csv')

data

,Unnamed: 0,C10H10O5,C10H10O5N4,C10H10O6,C10H10O6N4,C10H10O7,C10H10O8,C10H11O4N5,C10H11O5N,C10H11O5N5,...,C9H22O7N4,C9H22O9N4S,C9H24O7N4,C9H25O5N4P,C9H5O10N2S2P,C9H6O6,C9H6O7,C9H8O6,C9H8O7,C9H9O5N
0,SED_S19S.0001_D_Field,1,1,1,1,1,1,0,0,1,...,0,0,0,0,1,1,0,1,0,0
1,SED_S19S.0001_M_Field,1,1,1,1,1,1,0,0,1,...,0,0,0,0,1,1,1,1,0,1
2,SED_S19S.0001_U_Field,1,1,1,1,1,0,0,1,1,...,1,0,0,0,1,1,1,1,0,1
3,SED_S19S.0003_D_Field,1,0,1,0,1,1,0,0,0,...,0,0,0,1,0,1,0,1,0,0
4,SED_S19S.0003_M_Field,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,SED_S19S.0099_M_Field,1,1,0,1,0,0,0,1,1,...,0,0,0,1,0,1,0,1,0,1
235,SED_S19S.0099_U_Field,1,1,1,1,1,1,0,0,1,...,0,0,0,0,0,1,1,1,0,1
236,SED_S19S.0100_D_Field,1,0,1,0,1,1,0,0,1,...,0,1,1,1,0,1,1,1,0,1
237,SED_S19S.0100_M_Field,1,0,1,0,1,0,0,0,0,...,0,1,0,1,0,1,0,1,0,0
238,SED_S19S.0100_U_Field,1,0,1,0,1,1,0,1,0,...,0,1,0,0,0,1,1,1,0,1

In [4]:
index_alpha = pd.read_csv('indices/Sediment_Prevalence_10__commat_2021-09-29_alphacsv.csv')

index_alpha = index_alpha.drop(columns=['Sample_ID']) 

index_alpha

     Richness observed  Simpson's Diversity Index
0                 2419                   0.999587
1                 2331                   0.999571
2                 2228                   0.999551
3                 1920                   0.999479
4                  879                   0.998862
..                 ...                        ...
234               1972                   0.999493
235               2013                   0.999503
236               2109                   0.999526
237               2120                   0.999528
238               2300                   0.999565

[239 rows x 2 columns]

In [5]:
index_jaccard = pd.read_csv('indices/Sediment_Prevalence_10__commat_2021-09-29_Jaccard.csv')

# drop all except the first index column
index_jaccard = index_jaccard.loc[:, index_jaccard.columns.intersection(['SED_S19S.0001_D_Field'])] 

# rename column name
index_jaccard.rename(columns = {'SED_S19S.0001_D_Field':'Jaccard'}, inplace = True)

index_jaccard
# https://stackoverflow.com/questions/45846189/how-to-delete-all-columns-in-dataframe-except-certain-ones

      Jaccard
0    0.000000
1    0.211596
2    0.261504
3    0.444245
4    0.731050
..        ...
234  0.522046
235  0.418273
236  0.412899
237  0.410158
238  0.338380

[239 rows x 1 columns]

In [6]:
index_ochiai = pd.read_csv('indices/Sediment_Prevalence_10__commat_2021-09-29_Ochiai.csv')

# drop all except the first column
index_ochiai = index_ochiai.loc[:, index_ochiai.columns.intersection(['SED_S19S.0001_D_Field'])] 

# rename column name
index_ochiai.rename(columns = {'SED_S19S.0001_D_Field':'Ochiai'}, inplace = True)

index_ochiai

       Ochiai
0    0.000000
1    0.343751
2    0.386912
3    0.529885
4    0.721552
..        ...
234  0.591477
235  0.511209
236  0.508349
237  0.506331
238  0.450989

[239 rows x 1 columns]

In [7]:
index_sorensen = pd.read_csv('indices/Sediment_Prevalence_10__commat_2021-09-29_Sorensen.csv')

# drop all except the first column
index_sorensen  = index_sorensen .loc[:, index_sorensen .columns.intersection(['SED_S19S.0001_D_Field'])] 

# rename column name
index_sorensen.rename(columns = {'SED_S19S.0001_D_Field':'Sorensen'}, inplace = True)

index_sorensen

     Sorensen
0    0.000000
1    0.118316
2    0.150420
3    0.285550
4    0.576107
..        ...
234  0.353223
235  0.264440
236  0.260159
237  0.257986
238  0.203645

[239 rows x 1 columns]

In [8]:
# merging two csv files
# https://stackoverflow.com/questions/23891575/how-to-merge-two-dataframes-side-by-side

result = pd.concat([data, index_sorensen, index_alpha, index_jaccard, index_ochiai], axis=1, ignore_index=False)

result

,Unnamed: 0,C10H10O5,C10H10O5N4,C10H10O6,C10H10O6N4,C10H10O7,C10H10O8,C10H11O4N5,C10H11O5N,C10H11O5N5,...,C9H6O6,C9H6O7,C9H8O6,C9H8O7,C9H9O5N,Sorensen,Richness observed,Simpson's Diversity Index,Jaccard,Ochiai
0,SED_S19S.0001_D_Field,1,1,1,1,1,1,0,0,1,...,1,0,1,0,0,0.000000,2419,0.999587,0.000000,0.000000
1,SED_S19S.0001_M_Field,1,1,1,1,1,1,0,0,1,...,1,1,1,0,1,0.118316,2331,0.999571,0.211596,0.343751
2,SED_S19S.0001_U_Field,1,1,1,1,1,0,0,1,1,...,1,1,1,0,1,0.150420,2228,0.999551,0.261504,0.386912
3,SED_S19S.0003_D_Field,1,0,1,0,1,1,0,0,0,...,1,0,1,0,0,0.285550,1920,0.999479,0.444245,0.529885
4,SED_S19S.0003_M_Field,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.576107,879,0.998862,0.731050,0.721552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,SED_S19S.0099_M_Field,1,1,0,1,0,0,0,1,1,...,1,0,1,0,1,0.353223,1972,0.999493,0.522046,0.591477
235,SED_S19S.0099_U_Field,1,1,1,1,1,1,0,0,1,...,1,1,1,0,1,0.264440,2013,0.999503,0.418273,0.511209
236,SED_S19S.0100_D_Field,1,0,1,0,1,1,0,0,1,...,1,1,1,0,1,0.260159,2109,0.999526,0.412899,0.508349
237,SED_S19S.0100_M_Field,1,0,1,0,1,0,0,0,0,...,1,0,1,0,0,0.257986,2120,0.999528,0.410158,0.506331
238,SED_S19S.0100_U_Field,1,0,1,0,1,1,0,1,0,...,1,1,1,0,1,0.203645,2300,0.999565,0.338380,0.450989

In [9]:
# export the merged csv file 

result.to_csv('sediment_merged_indices.csv', index=False)

In [10]:
merged = pd.read_csv('sediment_merged_indices.csv')

merged

,Unnamed: 0,C10H10O5,C10H10O5N4,C10H10O6,C10H10O6N4,C10H10O7,C10H10O8,C10H11O4N5,C10H11O5N,C10H11O5N5,...,C9H6O6,C9H6O7,C9H8O6,C9H8O7,C9H9O5N,Sorensen,Richness observed,Simpson's Diversity Index,Jaccard,Ochiai
0,SED_S19S.0001_D_Field,1,1,1,1,1,1,0,0,1,...,1,0,1,0,0,0.000000,2419,0.999587,0.000000,0.000000
1,SED_S19S.0001_M_Field,1,1,1,1,1,1,0,0,1,...,1,1,1,0,1,0.118316,2331,0.999571,0.211596,0.343751
2,SED_S19S.0001_U_Field,1,1,1,1,1,0,0,1,1,...,1,1,1,0,1,0.150420,2228,0.999551,0.261504,0.386912
3,SED_S19S.0003_D_Field,1,0,1,0,1,1,0,0,0,...,1,0,1,0,0,0.285550,1920,0.999479,0.444245,0.529885
4,SED_S19S.0003_M_Field,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.576107,879,0.998862,0.731050,0.721552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,SED_S19S.0099_M_Field,1,1,0,1,0,0,0,1,1,...,1,0,1,0,1,0.353223,1972,0.999493,0.522046,0.591477
235,SED_S19S.0099_U_Field,1,1,1,1,1,1,0,0,1,...,1,1,1,0,1,0.264440,2013,0.999503,0.418273,0.511209
236,SED_S19S.0100_D_Field,1,0,1,0,1,1,0,0,1,...,1,1,1,0,1,0.260159,2109,0.999526,0.412899,0.508349
237,SED_S19S.0100_M_Field,1,0,1,0,1,0,0,0,0,...,1,0,1,0,0,0.257986,2120,0.999528,0.410158,0.506331
238,SED_S19S.0100_U_Field,1,0,1,0,1,1,0,1,0,...,1,1,1,0,1,0.203645,2300,0.999565,0.338380,0.450989

In [11]:
# get the metadata 

metadata = pd.read_csv('metdom_sed.csv')

# drop other columns except the metadata 
metadata  = metadata.loc[:, metadata.columns.intersection(['sample.type',	'location.id',	'sampling.type',	
                                                           'Stream_Order',	'Country',	'General_Vegetation',	
                                                           'Hydrogeomorphology',	'River_Gradient',	'Intermittent_or_Perennial',	
                                                           'Sediment_Bedrock',	'Distance_DS.and.MS_meters',	'Distance_MS.and.US_meters',	
                                                           'Primary.Sources.Flow.Variation',	'pH',	'Temp_degC',	
                                                           'DO_perc.sat',	'DO_mg.per.L',	'Algal.Mat.Coverage',	'Depositional.Type',	
                                                           'Macrophyte.Coverage',	'Sunlight.Access_Perc.Canopy.Cover',	'Water.Column.Height_cm',	
                                                           'Approx.Distance.From.Gauge_meters',	'US.or.DS.of.Gauge',	'Precipitation.Within.Week',	
                                                           'Number.Days.Since.Precip',	'Dam.Upstream.Site',	'Contamination.Source.Upstream',	
                                                           'Contamination.Source',	'resprate_mg.L.h',	'resp.inc.time.min', 'NPOC_mg.L.asC	del2H_permil', 
                                                           'del18O_permil',	'Cl_mgL',	'SO4_mgL',	'NO3_mgL',	'NO2_mgL',	'F_mgL'])]  

metadata

,sample.type,location.id,sampling.type,Stream_Order,Country,General_Vegetation,Hydrogeomorphology,River_Gradient,Intermittent_or_Perennial,Sediment_Bedrock,...,Contamination.Source.Upstream,Contamination.Source,resprate_mg.L.h,resp.inc.time.min,del18O_permil,Cl_mgL,SO4_mgL,NO3_mgL,NO2_mgL,F_mgL
0,1,1,1,9,1,1,1,1,1,1,...,1,3,1.00,1,1.00,1.00,1.00,1.00,1.00,1.00
1,1,2,1,9,1,1,1,1,1,1,...,1,3,1.00,1,1.00,1.00,1.00,1.00,1.00,1.00
2,1,3,1,9,1,1,1,1,1,1,...,1,3,1.00,1,1.00,1.00,1.00,1.00,1.00,1.00
3,1,1,1,7,1,0,2,1,1,2,...,1,3,1.00,1,-18.75,0.30,9.80,0.19,0.04,0.07
4,1,2,1,7,1,0,2,1,1,2,...,1,3,1.00,1,-18.75,0.30,9.80,0.19,0.04,0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,1,2,1,7,2,6,1,1,3,3,...,1,2,2.77,55,-16.08,70.55,47.79,4.43,0.04,0.33
235,1,3,1,7,2,6,1,1,3,3,...,1,2,1.36,115,-16.08,70.55,47.79,4.43,0.04,0.33
236,1,1,1,2,2,2,1,1,1,3,...,2,5,12.08,15,-6.53,0.22,34.62,0.12,0.04,0.09
237,1,2,1,2,2,2,1,1,1,3,...,2,5,2.67,62,-6.53,0.22,34.62,0.12,0.04,0.09
238,1,3,1,2,2,2,1,1,1,3,...,2,5,1.43,101,-6.53,0.22,34.62,0.12,0.04,0.09

In [12]:
# concat metadata with molecular binary and indices
result_met = pd.concat([result, metadata], axis=1, ignore_index=False)

result_met

,Unnamed: 0,C10H10O5,C10H10O5N4,C10H10O6,C10H10O6N4,C10H10O7,C10H10O8,C10H11O4N5,C10H11O5N,C10H11O5N5,...,Contamination.Source.Upstream,Contamination.Source,resprate_mg.L.h,resp.inc.time.min,del18O_permil,Cl_mgL,SO4_mgL,NO3_mgL,NO2_mgL,F_mgL
0,SED_S19S.0001_D_Field,1,1,1,1,1,1,0,0,1,...,1,3,1.00,1,1.00,1.00,1.00,1.00,1.00,1.00
1,SED_S19S.0001_M_Field,1,1,1,1,1,1,0,0,1,...,1,3,1.00,1,1.00,1.00,1.00,1.00,1.00,1.00
2,SED_S19S.0001_U_Field,1,1,1,1,1,0,0,1,1,...,1,3,1.00,1,1.00,1.00,1.00,1.00,1.00,1.00
3,SED_S19S.0003_D_Field,1,0,1,0,1,1,0,0,0,...,1,3,1.00,1,-18.75,0.30,9.80,0.19,0.04,0.07
4,SED_S19S.0003_M_Field,1,0,0,0,0,0,0,0,0,...,1,3,1.00,1,-18.75,0.30,9.80,0.19,0.04,0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,SED_S19S.0099_M_Field,1,1,0,1,0,0,0,1,1,...,1,2,2.77,55,-16.08,70.55,47.79,4.43,0.04,0.33
235,SED_S19S.0099_U_Field,1,1,1,1,1,1,0,0,1,...,1,2,1.36,115,-16.08,70.55,47.79,4.43,0.04,0.33
236,SED_S19S.0100_D_Field,1,0,1,0,1,1,0,0,1,...,2,5,12.08,15,-6.53,0.22,34.62,0.12,0.04,0.09
237,SED_S19S.0100_M_Field,1,0,1,0,1,0,0,0,0,...,2,5,2.67,62,-6.53,0.22,34.62,0.12,0.04,0.09
238,SED_S19S.0100_U_Field,1,0,1,0,1,1,0,1,0,...,2,5,1.43,101,-6.53,0.22,34.62,0.12,0.04,0.09

In [13]:
# export the merged csv file - metadata added

result_met.to_csv('sediment_merged_metadataindices.csv', index=False)

In [14]:
# reload the exported csv for checking 
merged_met = pd.read_csv('sediment_merged_metadataindices.csv')

merged_met

,Unnamed: 0,C10H10O5,C10H10O5N4,C10H10O6,C10H10O6N4,C10H10O7,C10H10O8,C10H11O4N5,C10H11O5N,C10H11O5N5,...,Contamination.Source.Upstream,Contamination.Source,resprate_mg.L.h,resp.inc.time.min,del18O_permil,Cl_mgL,SO4_mgL,NO3_mgL,NO2_mgL,F_mgL
0,SED_S19S.0001_D_Field,1,1,1,1,1,1,0,0,1,...,1,3,1.00,1,1.00,1.00,1.00,1.00,1.00,1.00
1,SED_S19S.0001_M_Field,1,1,1,1,1,1,0,0,1,...,1,3,1.00,1,1.00,1.00,1.00,1.00,1.00,1.00
2,SED_S19S.0001_U_Field,1,1,1,1,1,0,0,1,1,...,1,3,1.00,1,1.00,1.00,1.00,1.00,1.00,1.00
3,SED_S19S.0003_D_Field,1,0,1,0,1,1,0,0,0,...,1,3,1.00,1,-18.75,0.30,9.80,0.19,0.04,0.07
4,SED_S19S.0003_M_Field,1,0,0,0,0,0,0,0,0,...,1,3,1.00,1,-18.75,0.30,9.80,0.19,0.04,0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,SED_S19S.0099_M_Field,1,1,0,1,0,0,0,1,1,...,1,2,2.77,55,-16.08,70.55,47.79,4.43,0.04,0.33
235,SED_S19S.0099_U_Field,1,1,1,1,1,1,0,0,1,...,1,2,1.36,115,-16.08,70.55,47.79,4.43,0.04,0.33
236,SED_S19S.0100_D_Field,1,0,1,0,1,1,0,0,1,...,2,5,12.08,15,-6.53,0.22,34.62,0.12,0.04,0.09
237,SED_S19S.0100_M_Field,1,0,1,0,1,0,0,0,0,...,2,5,2.67,62,-6.53,0.22,34.62,0.12,0.04,0.09
238,SED_S19S.0100_U_Field,1,0,1,0,1,1,0,1,0,...,2,5,1.43,101,-6.53,0.22,34.62,0.12,0.04,0.09