<a href="https://colab.research.google.com/github/fsrichard/WHONDRS_/blob/main/merge_metdom_whondrs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# WHONDRS - data merging
# water

In [18]:
import pandas as pd

In [19]:
data = pd.read_csv('Water_Prevalence_10__commat_2021-09-29.csv')

data

,Unnamed: 0,C10H10O5,C10H10O5N2,C10H10O5S,C10H10O6,C10H10O6N2,C10H10O6S,C10H10O7,C10H10O7S,C10H10O8,...,C9H6O6,C9H6O7,C9H7O5N,C9H7O6N,C9H8O6,C9H8O6S,C9H8O7,C9H8O8,C9H9O5N,C9H9O6N
0,SW_S19S.0003_U_1,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,1,1,1,1
1,SW_S19S.0003_U_2,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,1,0,0,1
2,SW_S19S.0003_U_3,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,1,0,0,1
3,SW_S19S.0004_U_1,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,1,0,1,1
4,SW_S19S.0004_U_2,1,0,0,1,0,0,1,0,1,...,1,1,1,0,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,SW_S19S.0099_U_1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,0,1,0,1,1
261,SW_S19S.0099_U_2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1
262,SW_S19S.0099_U_3,1,0,1,1,0,1,1,1,1,...,1,0,0,0,1,1,1,0,1,1
263,SW_S19S.0100_U_1,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,0,0,1,0
264,SW_S19S.0100_U_3,1,0,0,1,0,0,1,0,1,...,1,1,1,0,1,0,1,0,1,1

In [27]:
index_alpha = pd.read_csv('indices/Water_Prevalence_10__commat_2021-09-29_alpha.csv')

index_alpha = index_alpha.drop(columns=['Sample_ID']) 

index_alpha

     Richness observed  Simpson's Diversity Index
0                 2335                   0.999572
1                 2560                   0.999609
2                 2782                   0.999641
3                 2823                   0.999646
4                 2869                   0.999651
..                 ...                        ...
260               2676                   0.999626
261               3217                   0.999689
262               2423                   0.999587
263               1289                   0.999224
264               2358                   0.999576

[265 rows x 2 columns]

In [31]:
index_jaccard = pd.read_csv('indices/Water_Prevalence_10__commat_2021-09-29_Jaccard.csv')

# drop all except the first column
index_jaccard = index_jaccard.loc[:, index_jaccard.columns.intersection(['SW_S19S.0003_U_1'])] 

# rename column name
index_jaccard.rename(columns = {'SW_S19S.0003_U_1':'Jaccard'}, inplace = True)

index_jaccard
# https://stackoverflow.com/questions/45846189/how-to-delete-all-columns-in-dataframe-except-certain-ones

      Jaccard
0    0.000000
1    0.355727
2    0.336476
3    0.322602
4    0.347937
..        ...
260  0.439427
261  0.435175
262  0.459696
263  0.519608
264  0.338761

[265 rows x 1 columns]

In [32]:
index_ochiai = pd.read_csv('indices/Water_Prevalence_10__commat_2021-09-29_Ochiai.csv')

# drop all except the first column
index_ochiai = index_ochiai.loc[:, index_ochiai.columns.intersection(['SW_S19S.0003_U_1'])] 

# rename column name
index_ochiai.rename(columns = {'SW_S19S.0003_U_1':'Ochiai'}, inplace = True)

index_ochiai

       Ochiai
0    0.000000
1    0.464235
2    0.446325
3    0.434377
4    0.454333
..        ...
260  0.529066
261  0.518471
262  0.546191
263  0.567577
264  0.451565

[265 rows x 1 columns]

In [33]:
index_sorensen = pd.read_csv('indices/Water_Prevalence_10__commat_2021-09-29_Sorensen.csv')

# drop all except the first column
index_sorensen  = index_sorensen .loc[:, index_sorensen .columns.intersection(['SW_S19S.0003_U_1'])] 

# rename column name
index_sorensen.rename(columns = {'SW_S19S.0003_U_1':'Sorensen'}, inplace = True)

index_sorensen

     Sorensen
0    0.000000
1    0.216343
2    0.202267
3    0.192323
4    0.210607
..        ...
260  0.281581
261  0.278098
262  0.298445
263  0.350993
264  0.203921

[265 rows x 1 columns]

In [40]:
# merging two csv files
# https://stackoverflow.com/questions/23891575/how-to-merge-two-dataframes-side-by-side

result = pd.concat([data, index_sorensen, index_alpha, index_jaccard, index_ochiai], axis=1, ignore_index=False)

result

,Unnamed: 0,C10H10O5,C10H10O5N2,C10H10O5S,C10H10O6,C10H10O6N2,C10H10O6S,C10H10O7,C10H10O7S,C10H10O8,...,C9H8O6S,C9H8O7,C9H8O8,C9H9O5N,C9H9O6N,Sorensen,Richness observed,Simpson's Diversity Index,Jaccard,Ochiai
0,SW_S19S.0003_U_1,1,0,0,1,0,0,1,0,1,...,0,1,1,1,1,0.000000,2335,0.999572,0.000000,0.000000
1,SW_S19S.0003_U_2,1,0,0,1,0,0,1,0,1,...,0,1,0,0,1,0.216343,2560,0.999609,0.355727,0.464235
2,SW_S19S.0003_U_3,1,0,0,1,0,0,1,0,1,...,0,1,0,0,1,0.202267,2782,0.999641,0.336476,0.446325
3,SW_S19S.0004_U_1,1,0,0,1,0,0,1,0,1,...,0,1,0,1,1,0.192323,2823,0.999646,0.322602,0.434377
4,SW_S19S.0004_U_2,1,0,0,1,0,0,1,0,1,...,0,1,1,0,1,0.210607,2869,0.999651,0.347937,0.454333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,SW_S19S.0099_U_1,1,0,1,1,1,1,1,1,1,...,0,1,0,1,1,0.281581,2676,0.999626,0.439427,0.529066
261,SW_S19S.0099_U_2,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,0.278098,3217,0.999689,0.435175,0.518471
262,SW_S19S.0099_U_3,1,0,1,1,0,1,1,1,1,...,1,1,0,1,1,0.298445,2423,0.999587,0.459696,0.546191
263,SW_S19S.0100_U_1,1,0,0,1,0,0,1,0,1,...,0,0,0,1,0,0.350993,1289,0.999224,0.519608,0.567577
264,SW_S19S.0100_U_3,1,0,0,1,0,0,1,0,1,...,0,1,0,1,1,0.203921,2358,0.999576,0.338761,0.451565

In [41]:
# export the merged csv file 

result.to_csv('water_merged_indices.csv', index=False)

In [42]:
merged = pd.read_csv('water_merged_indices.csv')

merged

,Unnamed: 0,C10H10O5,C10H10O5N2,C10H10O5S,C10H10O6,C10H10O6N2,C10H10O6S,C10H10O7,C10H10O7S,C10H10O8,...,C9H8O6S,C9H8O7,C9H8O8,C9H9O5N,C9H9O6N,Sorensen,Richness observed,Simpson's Diversity Index,Jaccard,Ochiai
0,SW_S19S.0003_U_1,1,0,0,1,0,0,1,0,1,...,0,1,1,1,1,0.000000,2335,0.999572,0.000000,0.000000
1,SW_S19S.0003_U_2,1,0,0,1,0,0,1,0,1,...,0,1,0,0,1,0.216343,2560,0.999609,0.355727,0.464235
2,SW_S19S.0003_U_3,1,0,0,1,0,0,1,0,1,...,0,1,0,0,1,0.202267,2782,0.999641,0.336476,0.446325
3,SW_S19S.0004_U_1,1,0,0,1,0,0,1,0,1,...,0,1,0,1,1,0.192323,2823,0.999646,0.322602,0.434377
4,SW_S19S.0004_U_2,1,0,0,1,0,0,1,0,1,...,0,1,1,0,1,0.210607,2869,0.999651,0.347937,0.454333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,SW_S19S.0099_U_1,1,0,1,1,1,1,1,1,1,...,0,1,0,1,1,0.281581,2676,0.999626,0.439427,0.529066
261,SW_S19S.0099_U_2,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,0.278098,3217,0.999689,0.435175,0.518471
262,SW_S19S.0099_U_3,1,0,1,1,0,1,1,1,1,...,1,1,0,1,1,0.298445,2423,0.999587,0.459696,0.546191
263,SW_S19S.0100_U_1,1,0,0,1,0,0,1,0,1,...,0,0,0,1,0,0.350993,1289,0.999224,0.519608,0.567577
264,SW_S19S.0100_U_3,1,0,0,1,0,0,1,0,1,...,0,1,0,1,1,0.203921,2358,0.999576,0.338761,0.451565