<a href="https://colab.research.google.com/github/fsrichard/WHONDRS_/blob/main/merge_metdom_whondrs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# WHONDRS - data merging
# water

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Water_Prevalence_10__commat_2021-09-29.csv')

data

,Unnamed: 0,C10H10O5,C10H10O5N2,C10H10O5S,C10H10O6,C10H10O6N2,C10H10O6S,C10H10O7,C10H10O7S,C10H10O8,...,C9H6O6,C9H6O7,C9H7O5N,C9H7O6N,C9H8O6,C9H8O6S,C9H8O7,C9H8O8,C9H9O5N,C9H9O6N
0,SW_S19S.0003_U_1,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,1,1,1,1
1,SW_S19S.0003_U_2,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,1,0,0,1
2,SW_S19S.0003_U_3,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,1,0,0,1
3,SW_S19S.0004_U_1,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,1,0,1,1
4,SW_S19S.0004_U_2,1,0,0,1,0,0,1,0,1,...,1,1,1,0,1,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,SW_S19S.0099_U_1,1,0,1,1,1,1,1,1,1,...,1,1,0,1,1,0,1,0,1,1
261,SW_S19S.0099_U_2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1
262,SW_S19S.0099_U_3,1,0,1,1,0,1,1,1,1,...,1,0,0,0,1,1,1,0,1,1
263,SW_S19S.0100_U_1,1,0,0,1,0,0,1,0,1,...,1,1,0,0,1,0,0,0,1,0
264,SW_S19S.0100_U_3,1,0,0,1,0,0,1,0,1,...,1,1,1,0,1,0,1,0,1,1

In [4]:
index_alpha = pd.read_csv('indices/Water_Prevalence_10__commat_2021-09-29_alpha.csv')

index_alpha = index_alpha.drop(columns=['Sample_ID']) 

index_alpha

     Richness observed  Simpson's Diversity Index
0                 2335                   0.999572
1                 2560                   0.999609
2                 2782                   0.999641
3                 2823                   0.999646
4                 2869                   0.999651
..                 ...                        ...
260               2676                   0.999626
261               3217                   0.999689
262               2423                   0.999587
263               1289                   0.999224
264               2358                   0.999576

[265 rows x 2 columns]

In [5]:
index_jaccard = pd.read_csv('indices/Water_Prevalence_10__commat_2021-09-29_Jaccard.csv')

# drop all except the first column
index_jaccard = index_jaccard.loc[:, index_jaccard.columns.intersection(['SW_S19S.0003_U_1'])] 

# rename column name
index_jaccard.rename(columns = {'SW_S19S.0003_U_1':'Jaccard'}, inplace = True)

index_jaccard
# https://stackoverflow.com/questions/45846189/how-to-delete-all-columns-in-dataframe-except-certain-ones

      Jaccard
0    0.000000
1    0.355727
2    0.336476
3    0.322602
4    0.347937
..        ...
260  0.439427
261  0.435175
262  0.459696
263  0.519608
264  0.338761

[265 rows x 1 columns]

In [6]:
index_ochiai = pd.read_csv('indices/Water_Prevalence_10__commat_2021-09-29_Ochiai.csv')

# drop all except the first column
index_ochiai = index_ochiai.loc[:, index_ochiai.columns.intersection(['SW_S19S.0003_U_1'])] 

# rename column name
index_ochiai.rename(columns = {'SW_S19S.0003_U_1':'Ochiai'}, inplace = True)

index_ochiai

       Ochiai
0    0.000000
1    0.464235
2    0.446325
3    0.434377
4    0.454333
..        ...
260  0.529066
261  0.518471
262  0.546191
263  0.567577
264  0.451565

[265 rows x 1 columns]

In [7]:
index_sorensen = pd.read_csv('indices/Water_Prevalence_10__commat_2021-09-29_Sorensen.csv')

# drop all except the first column
index_sorensen  = index_sorensen .loc[:, index_sorensen .columns.intersection(['SW_S19S.0003_U_1'])] 

# rename column name
index_sorensen.rename(columns = {'SW_S19S.0003_U_1':'Sorensen'}, inplace = True)

index_sorensen

     Sorensen
0    0.000000
1    0.216343
2    0.202267
3    0.192323
4    0.210607
..        ...
260  0.281581
261  0.278098
262  0.298445
263  0.350993
264  0.203921

[265 rows x 1 columns]

In [8]:
# merging two csv files
# https://stackoverflow.com/questions/23891575/how-to-merge-two-dataframes-side-by-side

result = pd.concat([data, index_sorensen, index_alpha, index_jaccard, index_ochiai], axis=1, ignore_index=False)

result

,Unnamed: 0,C10H10O5,C10H10O5N2,C10H10O5S,C10H10O6,C10H10O6N2,C10H10O6S,C10H10O7,C10H10O7S,C10H10O8,...,C9H8O6S,C9H8O7,C9H8O8,C9H9O5N,C9H9O6N,Sorensen,Richness observed,Simpson's Diversity Index,Jaccard,Ochiai
0,SW_S19S.0003_U_1,1,0,0,1,0,0,1,0,1,...,0,1,1,1,1,0.000000,2335,0.999572,0.000000,0.000000
1,SW_S19S.0003_U_2,1,0,0,1,0,0,1,0,1,...,0,1,0,0,1,0.216343,2560,0.999609,0.355727,0.464235
2,SW_S19S.0003_U_3,1,0,0,1,0,0,1,0,1,...,0,1,0,0,1,0.202267,2782,0.999641,0.336476,0.446325
3,SW_S19S.0004_U_1,1,0,0,1,0,0,1,0,1,...,0,1,0,1,1,0.192323,2823,0.999646,0.322602,0.434377
4,SW_S19S.0004_U_2,1,0,0,1,0,0,1,0,1,...,0,1,1,0,1,0.210607,2869,0.999651,0.347937,0.454333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,SW_S19S.0099_U_1,1,0,1,1,1,1,1,1,1,...,0,1,0,1,1,0.281581,2676,0.999626,0.439427,0.529066
261,SW_S19S.0099_U_2,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,0.278098,3217,0.999689,0.435175,0.518471
262,SW_S19S.0099_U_3,1,0,1,1,0,1,1,1,1,...,1,1,0,1,1,0.298445,2423,0.999587,0.459696,0.546191
263,SW_S19S.0100_U_1,1,0,0,1,0,0,1,0,1,...,0,0,0,1,0,0.350993,1289,0.999224,0.519608,0.567577
264,SW_S19S.0100_U_3,1,0,0,1,0,0,1,0,1,...,0,1,0,1,1,0.203921,2358,0.999576,0.338761,0.451565

In [9]:
# export the merged csv file 

result.to_csv('water_merged_indices.csv', index=False)

In [10]:
merged = pd.read_csv('water_merged_indices.csv')

merged

,Unnamed: 0,C10H10O5,C10H10O5N2,C10H10O5S,C10H10O6,C10H10O6N2,C10H10O6S,C10H10O7,C10H10O7S,C10H10O8,...,C9H8O6S,C9H8O7,C9H8O8,C9H9O5N,C9H9O6N,Sorensen,Richness observed,Simpson's Diversity Index,Jaccard,Ochiai
0,SW_S19S.0003_U_1,1,0,0,1,0,0,1,0,1,...,0,1,1,1,1,0.000000,2335,0.999572,0.000000,0.000000
1,SW_S19S.0003_U_2,1,0,0,1,0,0,1,0,1,...,0,1,0,0,1,0.216343,2560,0.999609,0.355727,0.464235
2,SW_S19S.0003_U_3,1,0,0,1,0,0,1,0,1,...,0,1,0,0,1,0.202267,2782,0.999641,0.336476,0.446325
3,SW_S19S.0004_U_1,1,0,0,1,0,0,1,0,1,...,0,1,0,1,1,0.192323,2823,0.999646,0.322602,0.434377
4,SW_S19S.0004_U_2,1,0,0,1,0,0,1,0,1,...,0,1,1,0,1,0.210607,2869,0.999651,0.347937,0.454333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,SW_S19S.0099_U_1,1,0,1,1,1,1,1,1,1,...,0,1,0,1,1,0.281581,2676,0.999626,0.439427,0.529066
261,SW_S19S.0099_U_2,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,0.278098,3217,0.999689,0.435175,0.518471
262,SW_S19S.0099_U_3,1,0,1,1,0,1,1,1,1,...,1,1,0,1,1,0.298445,2423,0.999587,0.459696,0.546191
263,SW_S19S.0100_U_1,1,0,0,1,0,0,1,0,1,...,0,0,0,1,0,0.350993,1289,0.999224,0.519608,0.567577
264,SW_S19S.0100_U_3,1,0,0,1,0,0,1,0,1,...,0,1,0,1,1,0.203921,2358,0.999576,0.338761,0.451565

In [11]:
# get the metadata 

metadata = pd.read_csv('metdom_water.csv')

# drop other columns except the metadata 
metadata  = metadata.loc[:, metadata.columns.intersection(['sample.type',	'location.id',	'sampling.type',	
                                                           'Stream_Order',	'Country',	'General_Vegetation',	
                                                           'Hydrogeomorphology',	'River_Gradient',	'Intermittent_or_Perennial',	
                                                           'Sediment_Bedrock',	'Distance_DS.and.MS_meters',	'Distance_MS.and.US_meters',	
                                                           'Primary.Sources.Flow.Variation',	'pH',	'Temp_degC',	
                                                           'DO_perc.sat',	'DO_mg.per.L',	'Algal.Mat.Coverage',	'Depositional.Type',	
                                                           'Macrophyte.Coverage',	'Sunlight.Access_Perc.Canopy.Cover',	'Water.Column.Height_cm',	
                                                           'Approx.Distance.From.Gauge_meters',	'US.or.DS.of.Gauge',	'Precipitation.Within.Week',	
                                                           'Number.Days.Since.Precip',	'Dam.Upstream.Site',	'Contamination.Source.Upstream',	
                                                           'Contamination.Source',	'resprate_mg.L.h',	'resp.inc.time.min', 'NPOC_mg.L.asC	del2H_permil', 
                                                           'del18O_permil',	'Cl_mgL',	'SO4_mgL',	'NO3_mgL',	'NO2_mgL',	'F_mgL'])]  

metadata

/tmp/ipykernel_463/1899571814.py:3: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('metdom_water.csv')

,sample.type,location.id,sampling.type,Stream_Order,Country,General_Vegetation,Hydrogeomorphology,River_Gradient,Intermittent_or_Perennial,Sediment_Bedrock,...,Contamination.Source.Upstream,Contamination.Source,resprate_mg.L.h,resp.inc.time.min,del18O_permil,Cl_mgL,SO4_mgL,NO3_mgL,NO2_mgL,F_mgL
0,2,3,2,7,1,0,2,1,1,2,...,1,3,1,1,-18.75,0.30,9.80,0.19,0.04,0.07
1,2,3,2,7,1,0,2,1,1,2,...,1,3,1,1,-17.75,0.31,8.03,0.23,0.04,0.07
2,2,3,2,7,1,0,2,1,1,2,...,1,3,1,1,-16.75,0.31,8.62,0.23,0.04,0.06
3,2,3,2,6,1,1,2,1,1,3,...,1,3,1,1,-17.13,1.83,6.53,0.12,0.04,0.07
4,2,3,2,6,1,1,2,1,1,3,...,1,3,1,1,-17.13,2.00,6.66,0.12,0.04,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,2,3,2,7,2,6,1,1,3,3,...,1,2,1,1,-16.08,70.55,47.79,4.43,0.04,0.33
261,2,3,2,7,2,6,1,1,3,3,...,1,2,1,1,-16.08,68.35,45.59,4.64,0.04,0.29
262,2,3,2,7,2,6,1,1,3,3,...,1,2,1,1,-16.08,66.16,44.37,4.75,0.04,0.30
263,2,3,2,2,2,2,1,1,1,3,...,2,5,1,1,-6.53,0.22,34.62,0.12,0.04,0.09
264,2,3,2,2,2,2,1,1,1,3,...,2,5,1,1,-6.53,0.20,34.80,0.12,0.04,0.06

In [12]:
# concat metadata with molecular binary and indices
result_met = pd.concat([result, metadata], axis=1, ignore_index=False)

result_met

,Unnamed: 0,C10H10O5,C10H10O5N2,C10H10O5S,C10H10O6,C10H10O6N2,C10H10O6S,C10H10O7,C10H10O7S,C10H10O8,...,Contamination.Source.Upstream,Contamination.Source,resprate_mg.L.h,resp.inc.time.min,del18O_permil,Cl_mgL,SO4_mgL,NO3_mgL,NO2_mgL,F_mgL
0,SW_S19S.0003_U_1,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-18.75,0.30,9.80,0.19,0.04,0.07
1,SW_S19S.0003_U_2,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-17.75,0.31,8.03,0.23,0.04,0.07
2,SW_S19S.0003_U_3,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-16.75,0.31,8.62,0.23,0.04,0.06
3,SW_S19S.0004_U_1,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-17.13,1.83,6.53,0.12,0.04,0.07
4,SW_S19S.0004_U_2,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-17.13,2.00,6.66,0.12,0.04,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,SW_S19S.0099_U_1,1,0,1,1,1,1,1,1,1,...,1,2,1,1,-16.08,70.55,47.79,4.43,0.04,0.33
261,SW_S19S.0099_U_2,1,1,1,1,1,1,1,1,1,...,1,2,1,1,-16.08,68.35,45.59,4.64,0.04,0.29
262,SW_S19S.0099_U_3,1,0,1,1,0,1,1,1,1,...,1,2,1,1,-16.08,66.16,44.37,4.75,0.04,0.30
263,SW_S19S.0100_U_1,1,0,0,1,0,0,1,0,1,...,2,5,1,1,-6.53,0.22,34.62,0.12,0.04,0.09
264,SW_S19S.0100_U_3,1,0,0,1,0,0,1,0,1,...,2,5,1,1,-6.53,0.20,34.80,0.12,0.04,0.06

In [13]:
# export the merged csv file - metadata added

result_met.to_csv('water_merged_metadataindices.csv', index=False)

In [14]:
merged_met = pd.read_csv('water_merged_metadataindices.csv')

merged_met

/tmp/ipykernel_463/3360446893.py:1: DtypeWarning: Columns (4955) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_met = pd.read_csv('water_merged_metadataindices.csv')

,Unnamed: 0,C10H10O5,C10H10O5N2,C10H10O5S,C10H10O6,C10H10O6N2,C10H10O6S,C10H10O7,C10H10O7S,C10H10O8,...,Contamination.Source.Upstream,Contamination.Source,resprate_mg.L.h,resp.inc.time.min,del18O_permil,Cl_mgL,SO4_mgL,NO3_mgL,NO2_mgL,F_mgL
0,SW_S19S.0003_U_1,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-18.75,0.30,9.80,0.19,0.04,0.07
1,SW_S19S.0003_U_2,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-17.75,0.31,8.03,0.23,0.04,0.07
2,SW_S19S.0003_U_3,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-16.75,0.31,8.62,0.23,0.04,0.06
3,SW_S19S.0004_U_1,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-17.13,1.83,6.53,0.12,0.04,0.07
4,SW_S19S.0004_U_2,1,0,0,1,0,0,1,0,1,...,1,3,1,1,-17.13,2.00,6.66,0.12,0.04,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,SW_S19S.0099_U_1,1,0,1,1,1,1,1,1,1,...,1,2,1,1,-16.08,70.55,47.79,4.43,0.04,0.33
261,SW_S19S.0099_U_2,1,1,1,1,1,1,1,1,1,...,1,2,1,1,-16.08,68.35,45.59,4.64,0.04,0.29
262,SW_S19S.0099_U_3,1,0,1,1,0,1,1,1,1,...,1,2,1,1,-16.08,66.16,44.37,4.75,0.04,0.30
263,SW_S19S.0100_U_1,1,0,0,1,0,0,1,0,1,...,2,5,1,1,-6.53,0.22,34.62,0.12,0.04,0.09
264,SW_S19S.0100_U_3,1,0,0,1,0,0,1,0,1,...,2,5,1,1,-6.53,0.20,34.80,0.12,0.04,0.06